{% extends 'base.html.twig' %}

{% block title %}My Progress{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>My Progress</h1>
    <p>Track your progress across all competences.</p>
</div>
{% endblock %}
