{% extends 'base.html.twig' %}

{% block title %}Chat Box - Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Chat Box</h5>
                </div>
                <div class="card-body">
                    <p>This is the chat box page.</p>
                    <p>Content will be added here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
