{% extends 'base.html.twig' %}

{% block title %}My Evaluations{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1>My Evaluations</h1>
    <p>View your personal evaluation history and results.</p>
</div>
{% endblock %}
