<form method="post" action="{{ path('evaluation_delete', {'id': evaluation.id}) }}" 
      onsubmit="return confirm('Supprimer cette évaluation ?');" class="mt-3">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ evaluation.id) }}">
    <input type="hidden" name="_method" value="DELETE">
    <button class="btn btn-danger">
        <i class="fas fa-trash"></i> Supprimer
    </button>
</form>
