{% extends 'base.html.twig' %}

{% block title %}Tests{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Tests</h1>
    <p class="alert alert-info">La page des tests est en construction.</p>
</div>
{% endblock %}
