{% extends 'base.html.twig' %}

{% block title %}Theme Settings - Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>Theme Settings</h5>
                </div>
                <div class="card-body">
                    <p>This is the theme settings page.</p>
                    <p>Theme customization options will be available here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
