{% extends 'base.html.twig' %}

{% block title %}User Roles - Dashboard{% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h5>User Roles & Permissions</h5>
                </div>
                <div class="card-body">
                    <p>This is the user roles and permissions page.</p>
                    <p>Role management interface will be implemented here.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
