{% extends 'base.html.twig' %}

{% block title %}Back Office - Accueil{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Tableau de bord Back Office</h1>
    <p>Bienvenue dans l'administration de votre plateforme d'événements.</p>
    <div class="list-group">
        <a href="{{ path('app_gestion_event') }}" class="list-group-item list-group-item-action">Gérer les événements</a>
    </div>
</div>
{% endblock %}
